body{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #C6D57E;
  color: #362222;
}

h1{
  font-size: 55px;
  background: #A2CDCD;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
}

section{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button{
  font-size: 30px;
  border-radius: 10px;
  width: 30%;
  border: 2px solid #D57E7E;
  color: #362222;
}


.title-and-rules-container, .gameplay-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.title-and-rules-container{
  margin: 20px auto;
}

.rules{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.characters-container{
  display: flex;
  justify-content: space-around;
}

.characters img{
  height: 15vh;
  width: 15vh;
}

.lives-and-keys-container{
  display: flex;
  justify-content: space-around;
}

.lives-keys{
  height: 50px;
  width: 80px;
  border: 2px solid #D57E7E;
  border-radius: 10px;
  background: #FFE1AF;
}

span{
  font-size: large;
}

.gameplay-container{
    height: 100vh;
    display: flex;;
    justify-content: center;
    align-items: center;
}

.lives-keys{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lives-keys img{
  height: 50px;
  width: 50px;
}

.gamegrid-container{
  background: rgb(172, 173, 174);
  display: flex;
}

#game-message{
  display: none;
  order: 1;
  background: #A2CDCD;
  border-radius: 10px;
  position: absolute;
  height: 200px;
  width: 400px;
  margin-top: 200px;
  margin-left: 100px;
  text-align: center;
  font-size: 50px;
}

.gamegrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 600px;
  width: 600px;
  border: 3px solid #362222;
  
}

.gamegrid div{
  height: 60px;
  width: 60px;
  display: flex;
  flex-grow: 1;
}

.innerCell{
  flex-grow: 1;
}

.gamegrid div img{
  height: 10%;
  width: 10%;
}

.forestClass{
  background-image: url("../images/forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.keyClass{
  background-image: url("../images/key.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monsterOneClass{
  background-image: url("../images/monster1.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monsterTwoClass{
  background-image: url("../images/monster2.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterOneClass{
  background-image: url("../images/char1.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterTwoClass{
  background-image: url("../images/char2.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterThreeClass{
  background-image: url("../images/char3.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.selectionBorder{
  border: 2px solid #C6D57E;
}

.selectionBorder:hover{
  border: 2px solid #D57E7E;
  border-radius: 10px;
}

.sandClass {
  background: #FFE1AF;
}

#characterLives{
  height: 50px;
  width: 50px;
}