body{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #C6D57E;
  color: #563d3d;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 50px;
  background: #A2CDCD;
  border-radius: 20px;
  padding: 15px;
  width: 75%;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  font-family: 'Balsamiq Sans', cursive;
}

h3{
  margin-left: 6vh;
}

h3, ul{
  border-radius: 10px;
  width: 80%;
}

section{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul{
  text-align: left;
}

button{
  font-size: 30px;
  border-radius: 10px;
  width: 165px;
  background-color:  #D57E7E;
  color: #FFE1AF;
  font-family: 'Balsamiq Sans', cursive;
  box-shadow: 2%;
  border: none;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
}


.title-and-rules-container, .gameplay-container{
  flex-direction: column;
}

.title-and-rules-container{
  width: 40%;
  height: 100vh;
}

.rules{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url('../images/rules-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 4px;
  font-weight: 100;
}

.characters-container{
  display: flex;
  justify-content: space-around;
}

.characters img{
  height: 15vh;
  width: 15vh;
}

.lives-and-keys-container{
  display: flex;
  justify-content: space-around;
}

.lives-keys{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background: #FFE1AF;
  margin: 0 50px 10px 50px;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
}

span{
  font-size: large;
}

.gameplay-container{
    height: 100vh;
    display: flex;;
    justify-content: center;
    align-items: center;
}

.lives-keys{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lives-keys img{
  height: 50px;
  width: 50px;
}

.gamegrid-container{
  background-image: url('../images/gamegrid-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 680px;
  height: 680px;
  justify-content: center;
  align-items: center;
}

#game-message{
  display: none;
  order: 1;
  background: #A2CDCD;
  border-radius: 20px;
  position: absolute;
  height: 200px;
  width: 400px;
  padding-top: 115px;
  text-align: center;
  font-size: 50px;
  font-family: 'Balsamiq Sans', cursive;
  -webkit-box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 29%);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 29%);
}

.gamegrid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  height: 600px;
  width: 600px;
  border: 3px solid #A2CDCD;
  background-image: url('../images/game-ground.png');
  filter: brightness();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.29);
}

.gamegrid div{
  height: 60px;
  width: 60px;
  display: flex;
  flex-grow: 1;
}

.innerCell{
  flex-grow: 1;
}

.gamegrid div img{
  height: 10%;
  width: 10%;
}

.forestClass{
  background-image: url("../images/forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.keyClass{
  background-image: url("../images/key2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monsterOneClass{
  background-image: url("../images/monster1.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monsterTwoClass{
  background-image: url("../images/monster2.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterOneClass{
  background-image: url("../images/char1.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterTwoClass{
  background-image: url("../images/char2.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.characterThreeClass{
  background-image: url("../images/char3.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.selectionBorder{
  margin: 0 10px;
}

.selectionBorder:hover{
  outline: 2px solid #D57E7E;
  background: #FFE1AF;
  border-radius: 10px;
}

.sandClass {
  background-image: url('../images/sand2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#characterLives{
  height: 50px;
  width: 50px;
}